<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        login
    </h1>
    <form action="/user/login" method="post">
        <label >enter your email</label>
        <input type="email" placeholder="enter your emial" required name = "email"/>
        <label >enter your password</label>
        <input type="password" placeholder="enter your password" required name = "password"/>
        <button type="submit">login</button>

    </form>
</body>
</html>